# Configurações do Jira
JIRA_URL=https://neurotech.atlassian.net
JIRA_EMAIL=danilo.medeiros@neurotech.com.br
JIRA_API_TOKEN=ATATT3xFfGF0zLqGtGv9lXCdBBxD4VAWvJx0YCt5uzxFac1z1INPxXbBePxJmKE6gwsrBgHM4-Pj3zT-JFPA9JOmztV_yhmCUkabfZRefd7UnERx5WYI4YtmGK3cFxWkolKK5i_AZd86CbIQMsuIRB1zlfQooVox4L_fSYUJfmyJ9MwBX_jwD6o=1F6068F3
JIRA_AUTH=base64(email:token)
PROJECT_KEY=BC







# JIRA_API_TOKEN=ATATT3xFfGF0Gg6n2BulAheHs82r3pEwkYvILboX3qzc9Rf-D90xts4XJHb5kbWuR00EE8Y_5mQDnysC3h5_gCz2zU1RMYCopvABKFKGiaEa7-KI-ULG_NvwI9zmzbHTIseKnhWtO_AOvuZLvzKKDSr0U772WxuUxY9fTkj3GP2f2ihgtlIdtYw=39C06EB0
# JIRA_EMAIL=liliane.barros@neurotech.com.br
